<!-- Center content -->
<ion-view>
  <ion-content has-header="true" scroll="true">
    <div class="title-image" style="background-image: url(/img/shops/{{ shop.cover }})">
      <div class="title-image-overlay">
        <div class="title" ng-click="goBack">
          {{ shop.name }}
        </div>
        <div class="subtitle">
          at Utrecht, Station Centraal
        </div>
      </div>
    </div>
    <div class="content">
      <div class="order-summary">
        <div class="order-total">
          Your Total
        </div>
        <div class="order-price">
          {{ totalPrice() | number:2 }} €
        </div>
        <div class="order-button" ng-click="placeOrder()">
          PRESS TO ORDER
        </div>

      </div>
      <div class="clear"></div>

      <div class="product-index">
        <div class="content-subtitle">
          Burgers
        </div>
        <div class="product-item" ng-repeat="product in shop.products">
          <div class="name">
            {{ product.name }}

            <div class="price">
              {{ product.price | number:2 }} €
            </div>
          </div>
          <div class="product-select" ng-click="addProduct(product)">
            <div class="count" ng-if="productCount(product) > 0">
              {{ productCount(product) }}
            </div>
            <div style="float:right">
              <span class="fa fa-plus-square"></span>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>