@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400,600);


@brand-red: #ec2432;
@border-color: #ddd;


.clear {
  clear: both;
}


body {
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #212121;
  color: #222222;
  height: 100%;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}


.title-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;

  &-station1 {
    background-image: url(img/station1.jpg)
  }

  .title-image-overlay {
    .gradient(transparent, rgba(0, 0, 0, 0.5));
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
  }

  .title {
    font-size: 26px;
    color: #ffffff;
    padding-top: 65px;
  }

  .subtitle {
    font-size: 14px;
    color: #ffffff;
    line-height: 0.9;
  }
}


.order-summary {
  background-color: @brand-red;
  color: white;
  overflow: hidden;

  .order-total {
    padding-top: 20px;
    text-align: left;
    font-size: 16px;
    padding: 10px 15px;
    color: white;
    overflow: hidden;
    float: left;
    width: 70%;
    //border-top: 2px solid white;
  }

  .order-price {
    float: left;
    width: 30%;
    text-align: right;
    font-size: 16px;
    padding: 10px 15px;
  }

  .order-button {
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    padding: 10px 15px;
    background-color: darken(@brand-red,10%);
    color: white;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
}


.mini-label {
  font-size: 11px;
  line-height: 0.9;
}

.route {
  padding-bottom: 15px;
  background-color: @brand-red;
  color: white;
  overflow: hidden;

  .from-group, .to-group {
    width: 50%;

    .start-name {
      font-size: 14px;
    }
  }

  .from-group {
    float: left;
    text-align: left;
    padding-left: 15px;
  }

  .route-indicator {
    height: 8px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    margin: 0 15px;
    margin-bottom: 10px;

    .route-done {
      height: 4px;
      width: 40%;
      position: absolute;
      float: right;
      margin: 2px;
      background-color: darken(@brand-red, 10%);
      border-radius: 4px;
    }

  }

  .to-group {
    float: right;
    text-align: right;
    padding-right: 15px;
  }
}

.eta {
  padding-top: 20px;
  text-align: left;
  font-size: 18px;
  padding: 10px 15px;
  background-color: darken(@brand-red,10%);
  color: white;
  overflow: hidden;

  .label {
    float: left;
    width: 50%;
  }

  .time-select {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.shop-index {
  text-align: center;
  margin-top: 30px;

  .shop-item {
    float: left;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    border-top: 1px solid @border-color;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .shop-item:nth-child(odd) {
    //border-left: 1px solid @border-color;
  }
}


.product-index {
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid @border-color;

  .product-item {
    vertical-align: middle;
    line-height: 60px;
    border-top: 1px solid @border-color;
    height: 60px;
    font-size: 14px;

    .name {
      float: left;
      width: 70%;
      text-align: left;
      padding-left: 15px;


    }
    .price {
      float: right;
      font-size: 12px;
    }
  }

  .product-select {
    overflow: hidden;
    width: 30%;
    padding-right: 15px;
    text-align: right;

    .fa {
      color: darken(@border-color, 0%);
      line-height: 60px;
      font-size: 38px;
    }

    .count {
        background-color: @brand-red;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding: 0 8px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        float: left;
    }
  }
}

.order-placement {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @brand-red;

  .order-thanks {
    color: white;
    padding: 30px 15px;
    padding-top: 60px;
    font-size: 18px;
    text-align: center;
  }

  .waiting-text, .pickup-text {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    background-color: darken(@brand-red, 10%);
  }

  .waiting-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
  }

  .map {
    width: 100%;
  }

  .pickup-text {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


.content {
  color: #333;
  font-size: 24px;
}

.content-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  padding: 0 15px 15px 15px;
}


.picked-up {
  opacity: 0.5;
}

.order-subtitle {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
}